<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Участники</title>
  <style></style>
</head>
<body>
<div layout:fragment="content">
  <h1>Все участники</h1>
  <div class="row">
    <div class="col">
      <a href="directors/add"
         class="btn btn-secondary"
         role="button"
         style="float: right"
         aria-disabled="true">Добавить участника
      </a>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ФИО</th>
      <th scope="col">Роль</th>
      <th scope="col">Фильмы</th>
    </tr>
    </thead>
    <tr th:each="director : ${directors}">
      <td th:text="${director.getDirectorsFIO()}"></td>
      <td th:text="${director.getPosition()}"></td>
      <td>
        <ul>
          <li th:each="film : ${director.getFilmsInfo()}" th:text="${film.getFilmTitle()}"></li>
        </ul>
      </td>
    </tr>
  </table>
</div>
</body>
</html>