<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Добавить фильм</title>
</head>
<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3">Добавить фильм</h3>
  <form style="max-width: 50vw" method="POST" th:action="@{/films/add}" th:object="${filmForm}">
    <div class="mb-3">
      <label for="title" class="form-label">Название</label>
      <input name="filmTitle" type="text" class="form-control" id="title">
    </div>
    <div class="mb-3">
      <label for="premierYear" class="form-label">Дата премьеры</label>
      <input name="premierYear" type="text" class="form-control" id="premierYear">
    </div>
    <div class="mb-3">
      <label for="country" class="form-label">Страна</label>
      <input name="country" type="number" class="form-control" id="country">
    </div>
    <div class="mb-3">
      <label for="genre" class="form-label">Жанр</label>
      <select class="form-select" name="genre" id="genre">
        <option selected>Выберете жанр из списка:</option>
        <option th:each="genre : ${T(com.jpc16thursdayproject.SpringProject.filmography.model.Genre).values()}"
                th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
  </form>
</div>
</body>
</html>
