<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Фильмы</title>
    <style></style>
</head>
<body>
<div layout:fragment="content">
    <h1>Все фильмы</h1>
    <div class="row">
        <div class="col">
            <a href="films/add"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить фильм
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Жанр</th>
            <th scope="col">Дата премьеры</th>
            <th scope="col">Страна</th>
            <th scope="col">Участники</th>
        </tr>
        </thead>
        <tr th:each="film : ${films}">
            <td th:text="${film.getFilmTitle()}"></td>
            <td th:text="${film.getGenre().getGenreTextDisplay()}"></td>
            <td th:text="${film.getPremierYear()}"></td>
            <td th:text="${film.getCountry()}"></td>
            <td>
                <ul>
                    <li th:each="director : ${film.getDirectorsInfo()}" th:text="${director.getDirectorsFIO()}"></li>
                </ul>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
